<a class="[ skip-link ] [ button ] [ screen-reader-text ]" href="#main-content">Skip to content</a>

<header role="banner" class="site-header">
    <div class="container">
        <div class="header-content">
            <a href="/" aria-label="{{ site.name }} - home" class="site-logo">{{ site.name }}</a>
            <nav class="main-nav" aria-label="Primary">
                <ul>
                    {% for item in navigation.items %}
                    <li{% if item.children %} class="has-submenu"{% endif %}>
                        <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
                        {% if item.children %}
                        <ul class="submenu">
                            {% for child in item.children %}
                            <li><a href="{{ child.url }}" {{ helpers.getLinkActiveState(child.url, page.url) | safe }}>{{ child.text }}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>
