<a class="[ skip-link ] [ button ] [ screen-reader-text ]" href="#main-content">Skip to content</a>

<header role="banner" class="site-header">
    <div class="container">
        <div class="header-content">
            <a href="/" aria-label="{{ site.name }} - home" class="site-logo">{{ site.name }}</a>
            <nav class="main-nav" aria-label="Primary">
                <ul>
                    {% for item in navigation.items %}
                    <li>
                        <a href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>
