
{# Home page: just site name. Others: 'Page - Site' #}
{% if title|lower == 'home' or page.url == '/' or page.url == '/index.html' %}
  <title>{{ site.name }}</title>
  <meta property="og:title" content="{{ site.name }}" />
{% else %}
  <title>{{ title }} - {{ site.name }}</title>
  <meta property="og:title" content="{{ title }} - {{ site.name }}" />
{% endif %}
<link rel="canonical" href="{{ currentUrl }}" />

<meta property="og:site_name" content="{{ siteTitle }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ currentUrl }}" />

{# If the page’s Front Matter has specific metaTitle and/or metaDesc items, switch 
  them into the mix. #}
{% if metaTitle %}
  <meta property="og:title" content="{{ metaTitle }}" />
{% endif %}

{% if not metaDesc %}
  {% set metaDesc = description %}
{% endif %}

{% if socialImage %}
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:image" content="{{ socialImage }}" />
  <meta name="twitter:image" content="{{ socialImage }}" />
  <meta property="og:image:alt" content="Page image for {{ site.name }}" />
  <meta name="twitter:image:alt" content="Page image for {{ site.name }}" />
{% endif %}

{% if metaDesc %}
  <meta name="description" content="{{ metaDesc }}" />
  <meta name="twitter:description" content="{{ metaDesc }}" />
  <meta property="og:description" content="{{ metaDesc }}" />
{% endif %}
