{% extends "layouts/base.njk" %}

{% block content %}
{# Hero Section #}
<section class="hero">
  <h1 class="hero__header">{{ hero.header }}</h1>
  <p class="hero__subheader">{{ hero.subheader }}</p>
</section>

{# Background Section #}
<section class="background">
  <h2 class="section-header">Background</h2>
  {% for paragraph in background.paragraphs %}
    <p>{{ paragraph }}</p>
  {% endfor %}
</section>

{# CTA Section #}
<section class="cta">
  <h2 class="cta__header">{{ cta.header }}</h2>
  <p class="cta__text">{{ cta.text }}</p>
</section>

{% endblock %}
