{% extends "layouts/base.njk" %}

{% block content %}
{# Hero Section #}
<section class="hero">
  <div class="container">
    <h1>{{ hero.header }}</h1>
    <p class="large">{{ hero.subheader }}</p>
  </div>
</section>

{# Bio Section #}
<section class="bio">
  <div class="container">
    <div class="content--medium">
      {% for paragraph in bio %}
        <p>{{ paragraph | safe }}</p>
      {% endfor %}
    </div>
  </div>
</section>

{# CTA Section #}
<section class="cta">
  <div class="container container--narrow">
    <h2 class="cta__header">{{ cta.header }}</h2>
    <p class="cta__text">{{ cta.text }}</p>
    {% if cta.button %}
      <a href="{{ cta.button.link }}" class="btn btn--primary btn--large">{{ cta.button.text }}</a>
    {% endif %}
  </div>
</section>

{% endblock %}
