<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% include "components/meta-info.njk" %}
		<link rel="stylesheet" href="/css/critical.css" />
		<link rel="stylesheet" href="/css/styles.css" />
		<!--<link rel="stylesheet" media="print" href="/fonts/fonts.css?{{ assetHash }}" onload="this.media='all'" />-->

		{# Add facility for pages to declare an array of stylesheet paths #}
		{% if pageStylesheets %}
		  {% for item in pageStylesheets %}
			<link rel="stylesheet" media="print" href="{{ item }}?{{ assetHash }}" onload="this.media='all'" />
		  {% endfor %}
		{% endif %}
	</head>
	<body>
		{% include "components/header.njk" %}
		<main>
			{% block content %}{% endblock %}
		</main>
		{% include "components/footer.njk" %}
	</body>
</html>
